@charset "UTF-8";
* {
		box-sizing: border-box; 
		-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;
  }
 a,img
 {
 	border-style:none;
	text-decoration:none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
 }
 input[type="submit"],
 input[type="reset"],
 input[type="button"],
 button {
 -webkit-appearance: none;
 }
 b
 {
 	font-weight: normal;
 }
a:hover
{
	text-decoration:none;
}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd 
{ 
	margin: 0px;
	padding: 0px; 
	font-weight: none; 
	list-style: none;

}
html, body {
	height: 100%;
	font-family: "微软雅黑";
	background-color: #f7f7f3;
	position: relative;
}
input
{
	outline: none;
	border:none;
}
.bill_box
{

}
.bill_box li:nth-child(1){
	border-bottom: 1px solid #e5e5e5;
	border-top: none;
}
.bill_box li
{
	width: 100%;
	padding: 0 25px;
	background-color: white;
	padding-top: 28px;
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}
.title
{
	margin-bottom: 20px;
	font-size: 30px;
	color:#333;
	font-weight: bold;
}

.item_info
{
		font-size: 28px;
	color:#333;
	padding-bottom: 20px;
}

.remark
{
	padding-bottom: 34px;
	font-size: 28px;
}
.pay
{
	font-size: 26px;
	color: #339900;
	padding-bottom: 34px;
	position: absolute;
	width: 150px;
	height: 70px;
	border:1px solid red;
	text-align: center;
	line-height: 70px;
	top:32px;
	right: 25px;
}
.item_info span:nth-child(1)
{
	display: inline-block;
	margin-right: 40px;
}
.item_info span,.remark span
{
	color:#999;
}
