@charset "UTF-8";
* {
		box-sizing: border-box; 
		-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;
  }
 a,img
 {
 	border-style:none;
	text-decoration:none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
 }
 input[type="submit"],
 input[type="reset"],
 input[type="button"],
 button {
 -webkit-appearance: none;
 }
 b
 {
 	font-weight: normal;
 }
a:hover
{
	text-decoration:none;
}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd 
{ 
	margin: 0px;
	padding: 0px; 
	font-weight: none; 
	list-style: none;

}
html, body {
	height: 100%;
	font-family: "微软雅黑";
	background-color: #f7f7f3;
	position: relative;
}
input
{
	outline: none;
	border:none;
}
.container
{
	padding-top:188px;
}
.container>.icon
{
	width: 100%;
	text-align: center;
}
.container p:nth-child(2)
{
	color:#333333;
	font-size: 40px;
	text-align: center;
		padding-top:38px;
	padding-bottom: 30px;
}
.container p:nth-child(3)
{
	color:#999;
	font-size: 28px;
	text-align: center;

}